{{>navBar}}
<h1> </h1>
<div class="user-info">
<h6>Usuario conectado: {{user.username}}</h6>    
</div>

<div class="titulo-products">
    <h1>Flota de Vehículos</h1>
</div>

<form class="form-filt" action="/vehicle/filtrar" method="GET">
    <div class="mb-31">
        <label for="dominio" class="form-label ">Ingresar dominio:</label>
        <input type="text" class="form-control label-filt" id="dominio" name="dominio">
    </div>
    <button type="submit" class="btn btn-primary btn-filt">Filtrar</button>
</form>

<div id="list-products">
    {{#each docs}}
    <div class="card-s">
        <div class="face front">
            <img src="/uploads/{{thumbnail.[0]}}" alt="">
            <h3>{{destino}}</h3>
        </div>
        <div class="face back">
            <h3>{{marca}}</h3>
            <p>{{tipo}}</p>
            <p>{{dominio}}</p>
             <p>{{usuario}}</p>
            <div class="link">
                <a href="/{{this._id}}">Ver mas</a>
            </div>
        </div>
    </div>
    {{/each}}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

