{{> navBar}}

<div class="body-p">
    <h3 class="titulo-imp">DIRECCION PRINCIPAL DE CUERPO PENITENCIARIO</h3>
    <div class="card-p">
        <div class="header-p">
            <h1>Movil Oficial</h1>
            <img class="logo-dtail" src="/images/logo.png" alt="">
        </div>
        <div class="content-p">
            <div class="vehicle-image-p">
                <img src="/uploads/{{vehicle.thumbnail.[0]}}" alt="Ford Ranger" />
            </div>
            <div class="vehicle-info-p">
                <p>DESTINO: {{vehicle.destino}}</p>
                <p>AÑO: {{vehicle.anio}}</p>
                <p>MARCA: {{vehicle.marca}}</p>
                <p>MODELO: {{vehicle.modelo}}</p>
                <p>TIPO: {{vehicle.tipo}}</p>
                <p>CHASIS N°: {{vehicle.chasis}}</p>
                <p>MOTOR N°: {{vehicle.motor}}</p>
                <p>CEDULA N°: {{vehicle.cedula}}</p>
            
                {{#with (lookup vehicle.kilometros lastIndexK)}}
                <p>KILOMETRAJE: {{this}}</p>
                {{/with}}
            </div>
        </div>
        <div class="vehicle-description-p">
            <h3>DESCRIPCIÓN DEL VEHICULO:</h3>
            {{#with (lookup vehicle.description lastIndexD)}}
            <input class="controls-p" type="text" name="description" value="{{this}}" id="description"
                placeholder="DETALLAR CARACTERISTICAS DEL VEHICULO" readonly>
            {{/with}}
        </div>
        <div class="footer-p">
            <div class="service-info-p">
                <h4>ÚLTIMO SERVICE:</h4>
                {{#with (lookup vehicle.service lastIndexS)}}
                <input class="controls-p" type="text" name="service" value="{{this}}" id="service" placeholder="FECHA"
                    readonly>
                {{/with}}
            </div>
            <div class="oil-change-info-p">
                <h4>ULTIMO CAMBIO DE RODADO:</h4>
                {{#with (lookup vehicle.rodado lastIndexR)}}
                <input class="controls-p" type="text" name="rodado" value="{{this}}" id="rodado"
                    placeholder="FECHA" readonly>
                {{/with}}
            </div>
        </div>
        <div class="vehicle-description-p">
            <h3>ULTIMAS REPARACIONES:</h3>
            <table class="reparaciones-table">
                <tr>
                    <th>Descripción</th>
                </tr>
                {{#each vehicle.reparaciones}}

                <tr>
                    <td>{{this}}</td>
                </tr>

                {{/each}}
            </table>
        </div>
        <div class="image-description-p">
            <h4 class="h4-p">IMAGENES:</h4>
            <div class="img-div">
                {{#each vehicle.thumbnail}}
                {{#if @index}}
                <img class="img-p" src="/uploads/{{this}}" alt="Ford Ranger" />
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <h6 class="h6-imp">@Deparamento de Seguridad Informatica y Monitoreo Electronico</h6>
    <div class="buttons-impre">
        <button class="signup-btn3"><a href="/vehicle">Volver</a></button>
        <button class="signup-btn3" onclick="imprimirPagina()">Imprimir</button>
        <button class="signup-btn3 edit-btn" data-product-id="{{vehicle._id}}">Editar</button>
        <button class="signup-btn3 delete-btn " data-product-id="{{vehicle._id}}">Eliminar</button>
    </div>
</div>


<script>function imprimirPagina() { window.print(); }</script>
<script src="js/script.js" defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

